auto-save-list/
bookmarks
elpa/
ido.last
projectile-bookmarks.eld
projectile.cache
transient/
url/
straight/
.customizations.el
.org-id-locations
amx-items
org-roam.db
recentf
.DS_Store
.cache/
eln-cache/
emojis/
eshell/
mastodon.plstore
persist/
request/
marginalia.org
chatgpt/